/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    margin: 0px;
    color: rgb(112, 112, 112);
    justify-content: center;

}

h2{
    margin: 0;
}

/* ----------------------------------------------- */

.mainSection, .statSection{
    
    padding: 68px 32px;
}

.mainSection{
    display: flex;
    flex-direction: column;
    gap: 88px;
    /* background-color: blue; */
    width: 70%;
    max-width: 1400px;
}

.selectionBlock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    gap: 10%;
}

button{
    display: flexbox;
    height: 15vw;
    width: 15vw;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    border: 0px;
    font-size: 7vw;
    color: white;
}

/* ----------------------------------------------- */

.statSection{
    /* background-color: orange; */
    width: 20%;
    max-width: 500px;
    
}

.statBlock{
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.stat, input{
    display: flex;
    background-color: rgb(238, 238, 238);
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: grey;
}

input{
    border: none;
    background: none;
}

/* .doubleStat{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.doubleStat.stat{
    width: 40%;
} */